body {
  font-family: sans-serif;
}

input {
  border-radius: 10px;
  padding: 6px 16px;
  border: none;
  outline: none;
}

button {
  border-radius: 10px;
  border: none;
  padding: 6px 16px;
}

button:hover {
  background-color: pink;
  cursor: pointer;
}

.iuput-area {
  background-color: rgb(23, 85, 139);
  width: 400px;
  padding: 8px;
}

.imcompleate {
  background-color: aquamarine;
  width: 400px;
  min-height: 200px;
  padding: 8px;
}

.compleate {
  background-color: red;
  width: 400px;
  min-height: 200px;
  padding: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
}
